In [3]:
import sqlite3

# Connect to an SQLite database
connection = sqlite3.connect('example.db')

# Create a cursor object
cursor = connection.cursor()

# Create a table if it does not exist
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT
)
''')

# Commit the changes
connection.commit()

In [4]:
import sqlite3

In [5]:
#connect to an sqlite
connection = sqlite3.connect('example.db')
connection

In [26]:
cursor = connection.cursor()

In [27]:
cursor.execute('''
Select * from employees
              ''')

In [28]:
##insert the data in sqlite table
cursor.execute('''
Insert Into employees(name, age, department)
               values('Prapti', 20, 'Data Science')
''')

cursor.execute('''
Insert into employees(name, age, department)
               values('Bob',25, 'Engineering')
''')

cursor.execute('''
               insert into employees(name, age, department)
               values('Charlie', 35, 'Finance')
''')

##commit the changes
connection.commit()

In [29]:
##query the data from the table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

##print the queried data 
for row in rows:
    print(row)

(1, 'Prapti', 34, 'Data Science')
(3, 'Charlie', 35, 'Finance')
(4, 'Prapti', 20, 'Data Science')
(5, 'Bob', 25, 'Engineering')
(6, 'Charlie', 35, 'Finance')

In [30]:
#3update the data in the table
cursor.execute('''
UPDATE employees
Set age=34
where name="Prapti"
''')

connection.commit()

In [31]:
##query the data from the table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

##print the queried data 
for row in rows:
    print(row)

(1, 'Prapti', 34, 'Data Science')
(3, 'Charlie', 35, 'Finance')
(4, 'Prapti', 34, 'Data Science')
(5, 'Bob', 25, 'Engineering')
(6, 'Charlie', 35, 'Finance')

In [32]:
## delete the data from the table
cursor.execute('''
Delete from employees where name = 'Bob'
               ''')

connection.commit()

In [33]:
##query the data from the table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

##print the queried data 
for row in rows:
    print(row)

(1, 'Prapti', 34, 'Data Science')
(3, 'Charlie', 35, 'Finance')
(4, 'Prapti', 34, 'Data Science')
(6, 'Charlie', 35, 'Finance')

In [35]:
##working with sales data
#connect to an SQlite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

#create a table for sales data
cursor.execute('''
               CREATE TABLE IF NOT EXISTS sales(
               id INTEGER PRIMARY KEY,
               date TEXT NOT NULL,
               product TEXT NOT NULL,
               sales INTEGER,
               region TEXT
)
''')

#INSERT DATA INTO THE SALES TABLE
sales_data = [
    ('2023-01-01', 'Product1',100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product3', 150, 'East'),
    ('2023-01-04', 'Product4', 300, 'West'),
    ('2023-01-05', 'Product5', 250, 'North')
]

cursor.executemany('''
                   Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
                   ''', sales_data)
connection.commit()

In [36]:
#query data from the sales table
cursor.execute('Select * from sales')
sales_rows = cursor.fetchall()  
#print the queried data
for row in sales_rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product3', 150, 'East')
(4, '2023-01-04', 'Product4', 300, 'West')
(5, '2023-01-05', 'Product5', 250, 'North')

In [37]:
#close the connection
connection.close()